:root {
    /*color palette*/
--transp: rgba(70, 76, 60, 0.5);
--darkest-green:  #293f10;
--darkest-green: #425e06;
--middle-green: #6d8209;
--lemon: #9ba514;
--lightest-green: #a7c090;
--darkest-color: #22240e;
--light-color: #c1c7a6;
--kinda-gray: #8f9f9d;
--gray-green: #758269;
--brown: #454915;
}

html {
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

/* ------------------ all elements ------------------ */

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

/* ------------------ HTML body ------------------ */
body {
    background-image: url('resources/photos/bg.jpg');
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ------------------ EcoPet Meals' logo------------------ */


.logo {
    height: 50px;
    width: auto;
    max-height: 100%;
}

/* ------------------ config del nav bar ------------------*/
#container-fluid {
    width: 100%;
}


.navbar {
    background-color: var(--transp);
}

.navbar-text, .navbar-brand, .nav-link {
    color: white;
    font-size: medium;
    font-weight: 600;
}

/* ------------------ FIN config del nav bar ------------------*/


/* ------------------ Main content: first block, second block ------------------ */
main {
    width: 100vw;
    height: 100vh;
}

#first-block {
    width: 100vw;
    height: 100vh;
    /*background-color: yellow;*/
    display: flex;
    justify-content: center;
}

#container-fluid {
    /*background-color: red;*/
    height: 100vh;
    width: 50vw;
    padding-top: 30vh;
}





h1, p {
    color: white;
}



.btn {
    background-color:  white;
    color: black;
}