:root {
    /*color palette*/
--transp: rgba(70, 76, 60, 0.5);
--darkest-green:  #293f10;
--darkest-green: #425e06;
--middle-green: #6d8209;
--lemon: #9ba514;
--lightest-green: #a7c090;
--darkest-color: #22240e;
--light-color: #c1c7a6;
--kinda-gray: #8f9f9d;
--gray-green: #758269;
--brown: #454915;
}

html {
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

/* ------------------ all elements ------------------ */

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

/* ------------------ HTML body ------------------ */
body {
    width: 100%;
    height: 100%;
}

/* ------------------ Wrapper for the background image ------------------ */
.bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px; /* Adjust the height as needed */
    background-image: url('resources/photos/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Places the background behind other content */
}

/* ------------------ EcoPet Meals' logo------------------ */


.logo {
    height: 50px;
    width: auto;
    max-height: 100%;
}

/* ------------------ config del nav bar ------------------*/
#container-fluid {
    width: 100%;
}


.navbar {
    background-color: var(--transp);
    position: relative;
}

.navbar-text, .navbar-brand, .nav-link {
    color: white;
    font-size: medium;
    font-weight: 600;
}

/* ------------------ FIN config del nav bar ------------------*/


/* ------------------ Main content: first block, second block ------------------ */
/* first block*/
main {
    width: 100%;
    height: 100%;
}

#first-block{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#container-fluid {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#slogan, #phrase {
    margin-bottom: 30px;
}

h1, p {
    color: white;
}

#slogan {
    font-weight: bold;
    font-size: xxx-large;
    text-align: center;
}

#phrase {
    font-size: medium;
}

#btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 30px;
    padding: 10px 40px ;

}

/* second block*/
#second-block {
   width: 100%;
    height: fit-content;
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#problematicas {
    font-weight: bold;
    font-size: xxx-large;
    color: var(--lemon);
    text-align: center;
    margin-bottom: 50px;
}
.problems {
    font-weight: bold;
    font-style: italic;
    font-size: medium;
    color: var(--darkest-color);
}

.accordion-button, .collapsed {
    background-color: white;
}



.col-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#dog-eating-trash {
    max-width: 280px;
    height: auto;

}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    #second-block .row {
        display: flex;
        flex-direction: column; /* Coloca los elementos uno debajo del otro */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    /* Ajuste para las columnas de la imagen y los acordeones */
    .col-4 {
        order: 2; /* La imagen va al final, debajo de los acordeones */
        margin-top: 20px; /* Espaciado entre el texto y la imagen */
        display: flex;
        justify-content: center;
        width: 100%; /* Asegura que la columna ocupe todo el ancho disponible */
    }

    .col-8 {
        order: 1; /* Los acordeones permanecen arriba de la imagen */
        margin-bottom: 20px; /* Ajusta el espaciado inferior si es necesario */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; /* Asegura que la columna ocupe todo el ancho disponible */
    }

    #dog-eating-trash {
        max-width: 80%; /* Ajustar el tamaño de la imagen para que se vea bien en móviles */
        height: auto;
    }
}



